@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.state-box{
    /*background: red;*/
    position: absolute;
    top: 48%;
    left: 10%;
}
.active-box{
    /*background: red;*/
    position: absolute;
    top: 48%;
    left: 12%;
}
